body{
	margin: 0;
	background-image: url(../images/background-picture.jpg);
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
	width: 250px;
	padding-left: 160px;
}
nav{
	background-color: rgba(0,0,0,1);
	padding: 20px 0px 10px 0px;
	position: fixed;
	width: 100%;
	top: 0;
}
#hache1{
	max-width: 900px;
	margin: 0 auto;
	margin-top: 200px
}
#hache1 h1{
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 60px;
	font-weight: lighter;
	color: #F4F4F4;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.73);
}
table{
	margin: 0 auto;
}
#artistField, #songField{
	border: none;
	padding: 22px 60px;
	border-radius: 30px;
	text-transform: uppercase;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.73);
	text-align: center;
	font-size: 15px;
	margin-top: 100px;
}
#artistField{
	margin-right: 90px;
}
#searchButton{
	border: none;
	border-radius: 20px;
	padding: 10px 40px 10px 40px;
	background-color: #F86646;
	margin-top: 80px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.73);
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 300px;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
}
.navbar-fixed-bottom{
	background-color: rgba(0,0,0,1);
	padding-top: 70px;
}
.wrap{
	max-width: 800px;
	margin: 0 auto;
	padding: 200px 0px;
}
#album-cover{
	float: right;
	
}
#cover{
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 50;
}
#displayed-lyrics{
	margin: o auto;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-shadow: 3px 3px 3px #000000;
	float: left;
}
#lyrics{
	margin: o auto;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	text-shadow: 3px 3px 3px #000000;
}
#album-details{
	background-color: rgba(0,0,0,0.73);;
	color: #FFFFFF;
	width: 90%;
	margin-top: -25px;
	margin-left: 3px;
	height: 200px;
}
#second-page{
	display: none;
}
#album-details{
	padding-top: 20px;
	padding-left: 10px;
	position: relative;
}
#button-search{
	border: none;
	border-radius: 20px;
	background-color: #F86646;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.73);
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	padding: 10px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.73);
	margin-left: 30px
}
#search-feature{
	float: right;
	margin-top: 10px;
	margin-right: 150px
}
#song-input, #artist-input{
	border: none;
	border-radius: 30px;
	text-transform: uppercase;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.73);
	font-size: 10px;
	padding: 10px 40px 10px 20px;
}
#artist-input{
	margin-right: 30px
}
#album-details p {
	line-height: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
#album-cover{
	position: fixed;
	right: 20%;;
}
#player-seekbar{
	height: 3px;
	background: #F86646;
	position: relative;
	width: 700px;
	bottom: 20px;
	left: 170px;
}
#player-seekbar:after{
	position: absolute;
	content: "";
	width: 400px;
	display: inline-block;
	height: 3px;
	background: #FFFFFF;
}
#player-knot{
	position: absolute;
	display: block;
	width: 15px;
	height: 15px;
	z-index: 999;
	border: 4px solid #F86646;
	background: #FFFFFF;
	border-radius: 100%;
	margin-left: 400px;
	margin-top: -6px;
}
#player-buttons{
	margin: 0 auto;
	width: 70%;
	position: relative;
	bottom: 40px;
}
#pause-button, #stop-button{
	float: right;
	position: relative;
	bottom: 40px;
	right: 160px;
}
#rewind-button, #play-button, #stop-button{
	margin-right: 10px;
}
#music-current-time, #music-length{
	color: #FFFFFF;
}
#music-length{
	float: right;
	position: relative;
	bottom: 30px;
	right: 300px;
}
#music-current-time{
	position: relative;
	top: 4px;
	left: 20px;
}
